/* ROOT: global.css */

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    background-color: #383838;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #8700aa;
    font-weight: bold;
    text-align: center;
}

a:hover {
    background: rgba(150, 150, 150, 0.4);
    border-radius: 8px;
    color: #ff00ff;
}

p {
    margin-top: 15px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
    color: #cccccc;
    font-size: 14pt;
    text-indent: 50px;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
}

p a:hover {
    background: rgba(0, 0, 0, 0);
}

li {
    font-size: 17px;
    margin-bottom: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    color: #cccccc;
}

li a:hover {
    background: rgba(0, 0, 0, 0);
}

#head-bar {
    position: sticky;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(6px);
}

#bar-ttl {
    margin: 0px;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 30px;
    color: #bbbbbb;
}

#bar-ttl:hover {
    background-color: transparent;
}

#menu {
    float: right;
    padding: 2px;
    margin-right: 30px;
}

#menu a {
    font-family: 'Roboto Mono', monospace;
    padding: 15px;
    border-radius: 12px;
}

.centered-info {
    text-align: center;
}

.map {
    border-radius: 20px;
    width: 600;
    height: 450;
    border: 0;
}

.ttl {
    text-align: center;
    margin-top: 120px;
    font-family: 'Roboto', sans-serif;
    border-top: #282828 5px solid;
    border-bottom: #282828 5px solid;
    padding: 10px;
    background-color: #1f1f1f;
    color: #cccccc;
    text-shadow: rgba(0, 0, 0, 0.45) 4px 3.5px;
}

.top-ttl {
    text-align: center;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    border-top: #282828 5px solid;
    border-bottom: #282828 5px solid;
    padding: 10px;
    background-color: #1f1f1f;
    color: #cccccc;
    text-shadow: rgba(0, 0, 0, 0.45) 4px 3.5px;
}

/* EOF */
